<div style="margin-top: 2em;">
    <div class="processedText">
        <b>Cleaned</b>
        <br>
        <%= results.cleaned %>
    </div>

    <div class="processedText">
        <b>Stemmed</b>
        <br>
        <%= results.stemmed %>
    </div>

    <div class="processedText">
        <b>Tokenized</b>
        <br>
        <%= results.tokenized %>
    </div>
</div>