<div style="margin-top: 2em;">
    <div class="processedText">
        <b>Cleaned</b>
        <br>
        <span><%= results.cleaned %></span>        
    </div>

    <div class="processedText">
        <b>Stemmed</b>
        <br>
        <span><%= results.stemmed %></span>
    </div>

    <div class="processedText">
        <b>Tokenized</b>
        <br>
        <span><%= results.tokenized %></span>
    </div>
</div>