<table style="margin-top: 2em;" class="table">
    <tr>
      <th>ID</th>
      <th>Product ID</th>
      <th>Label</th>
      <th>Description</th>
    </tr>

    <% for(var i=0; i < results.length; i++) {%>
      <tr>
        <td>
          <%= results[i].id %>
        </td>
        <td>
          <%= results[i].productID %>
        </td>
        <td>
          <%= results[i].label %>
        </td>
        <td>
          <%= results[i].description %>
        </td>
      </tr>
      <% } %>
  </table>