body {
    background-color: whitesmoke;
}

.myContainer {
    margin: 2em;
}

.processedText {
    word-wrap: break-word;
    background-color: lightgrey;
    border-radius: 10px;
    margin-top: 1em;
    padding: 0.5em;
}
