<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <header>
    <%- include('../partials/header'); %>
  </header>

  <div class="myContainer">
    <h1>Lista de KBest</h1>

    <form action="todo" method="POST">
      <div class="row">

        <div class="col-auto">
          <input class="form-control" type="number" min="1" placeholder="K unigram" name="limit" />
        </div>

        <div class="col-auto">
          <input class="form-control" type="number" min="1" placeholder="K bigram" name="limit" />
        </div>

        <div class="col-auto">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>

      </div>
    </form>

    <%- include('../partials/tableKBest'); %>
  </div>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>

</html>